
/* css */
body {
  font-family: 'Gothic A1';
}

.headerbackground {
            background-color: #4f5c88;
            padding-top: 180px;
            padding-bottom: 60px;
          }

.header {
          text-align: center;
          font-size: 3.4rem;
          color: #ffffff;
          font-weight: 600;
          }

.bodybackground {
          background-color: #303866;
          padding-top: 30px;
          padding-bottom: 100px;
          padding-left: 25px;
          padding-right: 10px;
          margin-bottom: 0px;
}

.subheader {
        font-size: 1.4rem;
        color: #b1b1b1;
        line-height: 160%;
}

.start {
        font-size: 2rem;
        color: #f46b95;
        margin-bottom: 0px;
        margin-top: 27px;
}

.text {
        font-size: 1.3rem;
        color: #ffffff;
        line-height: 220%;
        margin-top: 40px;
        margin-bottom: 0px;
}


input {
  margin: 8px 0;
  margin-left: 20px;
  border-radius: 12px;
  background-color: #4f5c88;
  border: 0px;
  color: #f1b6c8;
  outline: none;
}

.button {
  background-color: #f48dac;
  color: #ffffff;
  padding: 3px 50px;
}

.buttoncenter {
  text-align: center;
}

.answerto {
  background-color: #101248;
  font-size: 1.5rem;
  color: #ffa5c1;
  margin-bottom: 0px;
  margin-top: 0px;
  padding-left: 40px;
  padding-right: 30px;
  padding-top: 20px;
  padding-bottom: 10px;
}

.resultsheader {
  font-size: 3.7rem;
  color: #ffffff;
  margin-bottom: 0px;
  margin-top: 0px;
  margin-left: 40px;
  padding-top: 50px;
}

.resultssubheader {
  font-size: 3rem;
  color: #ffffff;
  margin-bottom: 0px;
  margin-top: 0px;
  margin-left: 40px;
}

.resultssubsubheader {
  font-size: 2.1rem;
  color: #ffffff;
  margin-bottom: 0px;
  margin-top: 0px;
  margin-left: 30px;
  padding-bottom: 10px;
}

.moreimportant {
  background-color: #101248;
  font-size: 2.3rem;
  color: #ffffff;
  margin-bottom: 0px;
  margin-top: 0px;
  padding-top: 20px;
  padding-left: 30px;
  padding-right: 10px;
}

.output1 {
  background-color: #101248;
  font-size: 1.8rem;
  margin-bottom: 0px;
  margin-top: 0px;
  padding-top: 20px;
  padding-left: 30px;
  padding-right: 10px;
  color: #f8c4d4;
}

.outputs {
  background-color: #101248;
  font-size: 1.8rem;
  margin-bottom: 0px;
  margin-top: 0px;
  padding-top: 5px;
  padding-left: 30px;
  padding-right: 10px;
  color: #f8c4d4;
}

.output5 {
  background-color: #101248;
  font-size: 1.8rem;
  margin-bottom: 0px;
  margin-top: 0px;
  padding-top: 5px;
  padding-bottom: 30px;
  padding-left: 30px;
  padding-right: 10px;
  color: #f8c4d4;
}

.conclusion {
  background-color: #242c5e;
  font-size: 1.3rem;
  margin-bottom: 0px;
  margin-top: 0px;
  padding-top: 10px;
  padding-left: 30px;
  padding-bottom: 10px;
  padding-right: 10px;
  color: #7e87b8;
}

.conclusion2 {
  background-color: #101248;
  font-size: 1.5rem;
  margin-bottom: 0px;
  margin-top: 0px;
  padding-top: 5px;
  padding-left: 30px;
  padding-bottom: 45px;
  padding-right: 10px;
  color: #f46b95;
}
